<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Frigg Off, Ipsum!</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/icon">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Anton" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	
	<header>
		<nav>
			<h1><a href="/">Frigg Off, Ipsum!</a></h1>
		</nav>
	</header>
	
	<section class="button-container">
		<span>Add Some Paragraphs</span>
		<input class="button paragraphs" value="1" type="submit">
		<input class="button paragraphs" value="2" type="submit">
		<input class="button paragraphs" value="5" type="submit">
		<input class="button paragraphs" value="10" type="submit">
		<input id="clear" class="button" value="Clear" type="submit">
		<div id="copy" class="copy-button hidden" data-clipboard-target="#output-text">
			Copy Text
			<span id="alert" class="copied-alert hidden">Copied!</span>
		</div> 
	</section>

	<section class="output-container">
		<div id="output-text"></div>
	</section>

	<footer>
		<span class="copyright">
			© <span id="copyright-year"></span> Frigg Off, Ipsum!
		</span>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
