.button {
	background: #333;
	border: none;
	padding: 0.6em;
	color: #ffffff;
	border-radius: 3px;
	font-family: 'Anonymous Pro';
	font-size: 1em;
	font-weight: 700;
	cursor: pointer;
	margin-right: 0.5em;
}

.button:hover {
	background: #474747;
}

.button-disabled,
.button-disabled:hover {
	background-color: #777;
}

.copy-button {
	position: relative;
	display: block;
	color: #d21e25;
	background: #333;
	margin: 1em;
	padding: 0.6em;
	width: 100px;
	margin: 1em auto 0;
	border-radius: 3px;
	cursor: pointer;
}

.copy-button:hover {
	background: #474747;
}
