html, body {
	margin: 0;
	padding: 0;
}

html { 
	background: url(../img/opening_bg.jpg) no-repeat center center fixed; 
	background-size: cover;
}

body {
	font-family: 'Anonymous Pro', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #D21E25;
	font-family: 'Anton', sans-serif;
	font-style: italic;
	text-shadow:
		1px 1px 0 #FFF,
		-1px -1px 0 #FFF,  
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;
}

header {
	background: #333333;
}

nav {
	padding: 1em;
	text-align: center;
}

nav > h1 {
	font-size: 3em;
	margin: 0;
}

nav > h1 > a {
	color: inherit;
	text-decoration: none;
}

section {
	text-align: center; 
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 800px;
}

.button-container > h3 {
	font-size: 1.2em;
	font-weight: lighter;
	margin: 0.6em;
}

input {
	background: #333;
	border: none;
	padding: 0.6em;
	color: #d21e25;
	border-radius: 3px;
	font-family: 'Anonymous Pro';
	font-size: 1em;
	cursor: pointer;
}

input:hover {
	background: #474747;
}

.button-gray {
  background-color: #333333;
  border-color: #333333;
}

.copy-button {
	position: relative;
	display: block;
	color: #d21e25;
	background: #333;
	margin: 1em;
	padding: 0.6em;
	width: 100px;
	margin: 1em auto 0;
	border-radius: 3px;
	cursor: pointer;
}

.copy-button:hover {
	background: #474747;
}

.hidden {
	display: none;
}

/* Tooltip text */
.copy-button .copied-alert {
	visibility: visible;
	position: absolute;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.3s;
	top: 75px;
	left: 0;
}

.copied-alert.invisible {
	visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

#output-text {
	font-size: 0.8em;
	max-height: 360px;
	margin: 0 auto;
	padding: 1em;
	background: white;	
	overflow: scroll;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

footer {
	position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  background-color: #333333;
  text-align: center;
}